 <!-- Nearby Stops -->
 <div class="marg">
  <div class="near marg">
   <div class="container">
     Nearby Stops
   </div>
 </div>
 <div class="nearby">
    <div class="container">
      <!-- First Stop Card -->
     <div class="card-stop container">
       <div class="container">
           <div class="stop-info">
               <div>
                   <div class="stop-icon">
                       <i class="fas fa-arrow-circle-left"></i>
                   </div>
                   <div>
                       <h5>1st Avenue</h5>
                   </div>
               </div>
           </div>
           <div class="flex">
             <img src="../assets/images/heart.png" alt="">
             <img src="../assets/images/greater-than.png" alt="">
           </div>
           <p class="distance"><small>30 min walk . towards</small><br><span class="distance-location"> Alakija</span></p>
           <div class="d-flex align-items-center">
               <span class="bus-line"><img src="../../../assets/images/bus.png" alt="">&nbsp;29</span>
               <p>Elm Row</p>
               <i class="fas fa-heart ml-auto heart-icon"></i>
               <div class="">
                 18 min
             </div>
           </div>
       </div>
     </div>

     <!-- Second Stop Card -->
     <div class="card-stop container">
       <div class="container">
             <div class="stop-info">
                 <div>
                     <div class="stop-icon">
                         <i class="fas fa-arrow-circle-left"></i>
                     </div>
                     <div>
                         <h5 class="font-weight-bold">2nd Avenue</h5>
                     </div>
                 </div>
             </div>
             <div class="flex">
               <img src="../assets/images/heart.png" alt="">
               <img src="../assets/images/greater-than.png" alt="">
             </div>
             <p class="distance"><small>3 min walk . towards </small><br><span class="distance-location"> AA close</span></p>
             <div class="d-flex align-items-center">
               <span class="bus-line n3"><img src="../../../assets/images/bus.png" alt="">&nbsp;3</span>
               <p>24 Road</p>
               <i class="fas fa-heart ml-auto heart-icon"></i>
               <div class="">
                     16 min
                 </div>
             </div>
       </div>
     </div>

     <!-- Third Stop Card -->
     <div class="card-stop container">
       <div class="container">
           <div class="stop-info">
               <div>
                   <div class="stop-icon">
                       <i class="fas fa-arrow-circle-left"></i>
                   </div>
                   <div>
                       <h5>3rd Avenue</h5>
                   </div>
               </div>
           </div>
           <div class="flex">
             <img src="../assets/images/heart.png" alt="">
             <img src="../assets/images/greater-than.png" alt="">
           </div>
           <p class="distance"><small>1 min walk . towards</small><br><span class="distance-location">2nd Avenue</span></p>
           <div class="d-flex align-items-center">
               <span class="bus-line"><img src="../../../assets/images/bus.png" alt="">&nbsp;29</span>
               <p>23 Road</p>
               <i class="fas fa-heart ml-auto heart-icon"></i>
               <div class="">
                 18 min
             </div>
           </div>
       </div>
     </div>

     <!-- Fourt Stop Card -->
     <div class="card-stop container">
       <div class="container">
             <div class="stop-info">
                 <div>
                     <div class="stop-icon">
                         <i class="fas fa-arrow-circle-left"></i>
                     </div>
                     <div>
                         <h5>6th Avenue</h5>
                     </div>
                 </div>
             </div>
             <div class="flex">
               <img src="../assets/images/heart.png" alt="">
               <img src="../assets/images/greater-than.png" alt="">
             </div>
             <p class="distance"><small>3 min walk . towards </small><br><span class="distance-location"> Alakija</span></p>
             <div class="d-flex align-items-center">
                 <span class="bus-line yellow"><img src="../../../assets/images/bus.png" alt="">&nbsp;3</span>
                 <p>2nd Avenue</p>
                 <i class="fas fa-heart ml-auto heart-icon"></i>
                 <div class="">
                   40 min
               </div>
             </div>
       </div>
     </div>

     <!-- fifth Stop Card -->
     <div class="card-stop container space">
       <div class="container">
           <div class="stop-info">
               <div>
                   <div class="stop-icon">
                       <i class="fas fa-arrow-circle-left"></i>
                   </div>
                   <div>
                       <h5>7th Avenue</h5>
                   </div>
               </div>
           </div>
           <div class="flex">
             <img src="../assets/images/heart.png" alt="">
             <img src="../assets/images/greater-than.png" alt="">
           </div>
           <p class="distance"><small>1 min walk . towards</small><br><span class="distance-location"> Alakija</span></p>
           <div class="d-flex align-items-center">
               <span class="bus-line"><img src="../../../assets/images/bus.png" alt="">&nbsp;29</span>
               <p>Total Fuel Station</p>
               <i class="fas fa-heart ml-auto heart-icon"></i>
               <div class="">
                 18 min
             </div>
           </div>
       </div>
     </div>
    </div>

 </div>
 </div>
