<div>
  <!-- Bottom Navigation -->
<nav class="navbar navbar-expand navbar-custom">
  <ul class="navbar-nav mx-auto w-100 justify-content-between">
      <li class="nav-item">
          <a class="nav-link active" (click)="navigateToHome()">
              <img src="../assets/images/home-nav.png" alt=""><br>
              Home
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="navigateToSearch('myBookmark')">
            <img src="../../../../assets/images/search-icon.png" alt=""><br>
              Search
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="navigateToBuses()">
            <img src="../../../../assets/images/buses.png" alt=""><br>
              Buses
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="navigateToRoute()">
            <img src="../assets/images/share.png" alt=""><br>
            Route
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToReport()">
          <img src="../assets/images/complain.png" alt=""><br>
            Report
        </a>
    </li>
  </ul>
</nav>
</div>
